
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container-mobile {
    flex-direction: column;
  }
  
  .avatar {
    width: 156px;
    height: 156px;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .button {
    margin-right: 8px;
  }
  .textField{
    margin-left: 50px;
    width: '500px';

  }
  .field{
    margin-bottom: 10px;
    width: '500px';
  }
  
  