.layout {
    color: var(--txt-color);
}

.content-layout {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
}

.main-content-layout {
    padding: 30px;
}